node_modules
.tmp
.tmp/
node_modules/
bower_components
bower_components/
.idea/
idea
tmp/
databases/
themes/burgerking/public/stylus/*
themes/burgerking/public/js/app.js
themes/burgerking/public/es5/*
themes/generica/public/stylus/*
themes/generica/public/node_modules/*
themes/generica/public/gulpfile.js
themes/generica/public/package.json
themes/generica/public/node_modules/*
themes/generica/public/js/app.js
public/es5/*
logs/problems.log
debug.pid
logs/*
.sonar/
package-lock.json
coverage/
themes/generic/public/*
themes/generic/views/*
config-release
*.jscsrc
*.jshintrc
.vs/*
.vs/
/nbproject/private/
nbproject/project.xml
nbproject/project.properties
