<section class="content_all sin_padd">
    @{component('header_qbano')}    
    <section class="bgPageError" style="background: #1f1f1f url('/generic/images/error-bg.jpg') center center / cover no-repeat;">
        <section class="wrapper_m">
            <section class="txt_center">                
                <div class="alertPage">
                    <div class="titulo">
                        <h1><span>404</span>¡Página no encontrada!</h1>
                    </div>
                    <h2>La página que buscas no existe. Ve a la página de inicio y vuelve a intentarlo...</h2>
                </div>
                <div class="centerBtn">
                    <a href="/" data-effect="mfp-move-horizontal" class="btnA">Volver a inicio</a>
                    <a href="/contact" data-effect="mfp-move-horizontal" class="btnC">Contáctenos</a>
                </div>
                <!--<img src="@{routeImage('404.png')}" alt="404  imag" width="800" height="500">-->
            </section>
        </section>
    </section>
</section>
@{component('footer_qbano')}