<!--Content_all-->
@{component('header_qbano')}
@{json(model.order, 'modelorder')}

<section class="content_all intern" id="bill"> 
    <section class="wrapper_m animated fadeInUp" v-if="model['@rid']">
        <div class="titulo txt_center">
            <h1>PEDIDO REALIZADO CON ÉXITO</h1>
        </div>
        <section class="bg_panelInt bgnegro">
            <section class="bg_factura bgnegro">
                <h3>¡Muchas gracias por tu pedido!</h3>
                <!-- <p>Como medida preventiva esta misma información ha sido enviada a tu correo electrónico.</p> -->
                <div class="clear"></div>
                <section class="head_factura">
                    <div class="small-12 medium-12 large-12 columns">
                        <h4 class="txt_center">{{generateDate(model.createdAt)}}</h4>
                    </div>
                    <!-- <div class="small-12 medium-12 large-3 columns">
                        <h5>{{currencyFormat(model.total)}}</h5>
                    </div> -->
                    <div class="clear"></div>
                </section>
                <ul class="list_fact">
                    <li class="block" v-for="product in model.items">
                        <div class="small-12 medium-5 large-5 columns nameProd">
                            <h6>{{product.product}}</h6>
                        </div>
                        <div class="small-12 medium-3 large-3 columns nameProd">
                            <h6>Cantidad: {{product.amount}}</h6>
                        </div>
                        <div class="small-12 medium-4 large-4 columns">
                            <h6 class="txt_right">{{currencyFormat(product.price)}}</h6>
                        </div>
                        <div class="clear"></div>
                        <section class="bgAditionals block" v-if="(product.cartItemModifiers && product.cartItemModifiers.length > 0) 
                                 || (product.cartItemModifierGroups && product.cartItemModifierGroups.length > 0)">
                            <ul class="adition_list" v-if="product.cartItemModifiers && product.cartItemModifiers.length > 0">
                                <li v-for="modifier in product.cartItemModifiers" class="ading-tag">
                                    + {{nameModifierFormat(modifier.modifier)}}:
                                    {{modifier.modifierItem}} ({{modifier.price?
                                        currencyFormat(modifier.price):"Incluido"}})
                                </li>
                            </ul>
                            <ul class="adition_list" v-if="product.cartItemModifierGroups.length > 0"
                                v-for="modifierg in product.cartItemModifierGroups">
                                <li class="ading-tag">
                                    + {{modifierg.group}}
                                    {{modifierg.priceUnit?
                                        "("+currencyFormat(modifierg.priceUnit)+")":""}}
                                    <ul class="adition_list">
                                        <li v-for="modifi in modifierg.modifiers" class="ading-tag">
                                            + {{modifi.modifier}}:{{modifi.modifierItem}}
                                            {{modifi.price?
                                        "("+currencyFormat(modifi.price)+")":""}}
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!--cupones-->
                            <div class="bgAditionals" v-for="coupon in product.productsCoupons">
                                <div class="large-12 medium-12 small-12 columns">
                                    <h4>{{coupon.product.name}}</h4>
                                    <ul class="adition_list" v-if="coupon.modifiers.length > 0">
                                        <!--modifier-->
                                        <h4> Adiciones y/o Incluidos</h4>
                                        <li v-for="modifier in coupon.modifiers" class="ading-tag">
                                            + {{modifier.modifier.name}}:
                                            {{modifier.modifierItem.name}} ({{modifier.price?
                                            currencyFormat(modifier.price):"Incluido"}})
                                        </li>
                                    </ul>
                                    <ul v-for="modifierg in coupon.modifiersGroups">
                                        <div class="large-4 medium-4 small-12 columns" >
                                            <ul class="adition_list">
                                                <!--modifierGrupo-->
                                                <h4>{{modifierg.group.name}}</h4>
                                                <li v-for="modifi in modifierg.modifiers" class="ading-tag">
                                                    + {{modifi.modifier.name}}:{{modifi.modifierItem.name}} {{modifi.price?
                                                    "("+currencyFormat(modifi.price)+")":""}}
                                                </li>
                                            </ul>
                                        </div>                                      
                                    </ul>
                                </div>
                            </div>
                            <div class="clear"></div>                                 
                        </section>
                    </li>
                </ul>
                <section class="date_facture">
                    <h2>{{model.user.nameFirst}}</h2>
                    <h2>{{model.typeService.name}} - {{model.userAddress.city}}</h2>
                    <p>Dirección: {{model.userAddress.address}}</p>
                    <p>Teléfono: {{model.user.phone}}</p>
                    <p>Correo electrónico: {{model.user.email}}</p>
                    <p>Forma de pago: {{model.paymentMethod.name}}</p>
                </section>
                <div class="head_factura row m_b_20">
                    <div class="small-12 medium-3 large-3 columns">
                        <h4><strong>Cupon:</strong> {{currencyFormat(model.costCoupon)}}</h4>                        
                    </div>
                    <div class="small-12 medium-3 large-3 columns">
                        <h4><strong>Domicilio:</strong> {{currencyFormat(model.pointSaleTypeServiceSchedule.cost)}}</h4>
                    </div>
                    <div class="small-12 medium-3 large-3 columns">
                        <h4><strong>Subtotal:</strong> {{currencyFormat(model.totalItems)}}</h4>
                    </div>
                    <div class="small-12 medium-3 large-3 columns">
                        <h4><strong>Total:</strong> {{currencyFormat(model.total)}}</h4>
                    </div>
                </div>
                <div class="txt_center m_t_10">
                    <a :href="redirectOrders()" class="btnA">Continuar</a>
                </div>
            </section>
            <div class="clear"></div>
        </section>

        <div class="clear"></div>
    </section>
    <section class="txt_center" v-else>
        <div class="titulo">
            <h1>Hmmm, No existe esta factura.</h1>                
        </div>
        <div class="alertPage">
            <i aria-hidden="true" class="fa fa-exclamation-circle"></i>
            <h2>Usted probablemente quiera</h2>
        </div>
        <a href="/home" data-effect="mfp-move-horizontal" lass="btnA">Ver productos</a>
    </section>

</section>
<!--Fin Content_all-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js?v=@{F.config.version}"></script>
@{component('footer_qbano')}
@{version('bill.js')}