<section class="content_all intern">
@{component('header_qbano')}
    <section  class="wrapper_m">
        <section class="txt_center">
            <div class="titulo">
                <h1>Lo sentimos, Token Expirado</h1>
            </div>
            <div class="alertPage">
            	<i aria-hidden="true" class="fa fa-exclamation-circle"></i>
            	<h2>No pudimos autorizar esta solicitud. Lo más probable es que el enlace haya caducado. Por favor, solicite otro enlace.</h2>
            </div>
        </section>
    </section>
</section>
@{component('footer_qbano')}