<section class="ege_validation" v-if="false">
    <div class="relative">
        <div class="logo">
            <img src="/generic/images/logo.png" alt="Six to Go">
            <div>      
                <h1>¡Bienvenido a SixToGo!</h1>      
                <h2>Ingresa tu fecha de nacimiento.</h2>
                <div class="form-user-validate">
                    <div class="form-item form-item-dia">
                        <label for="edit-dia">Dia <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                        <input autocomplete="off" type="text" id="edit-dia" name="dia" value="" size="2" maxlength="2" placeholder="DD">
                    </div>
                    <div class="form-item form-item-mes">
                        <label for="edit-mes">Mes <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                        <input autocomplete="off" type="text" id="edit-mes" name="mes" value="" size="2" maxlength="2" placeholder="MM">
                    </div>
                    <div class="form-item form-item-anio">
                        <label for="edit-anio">Año <span class="form-required" title="Este campo es obligatorio.">*</span></label>
                        <input autocomplete="off" type="text" id="edit-anio" name="anio" value="" size="4" maxlength="4" placeholder="AAAA">
                    </div>
                    <div class="clear"></div>
                    <button type="submit" class="btnA edadClic">Ingresar</button>
                </div>
            </div>
            </section>
            @{json(model.configuration, 'configuration')}
            @{json(model.categories, 'modelCategory')}
            @{json(model.banners, 'banners')}
            <section class="content_all">
                @{component('header_qbano')}
                <!--Slider-->
                <section class="bg_slider">
                    <div class="wrapper_l">                    
                        <ul class="carrusel_slider sliderHome owl-carousel owl-theme">
                            <li class="item"  v-for="banner,index in bannersModel" :key="banner['rid']" @click="goToUrlBanner(banner)">
                                <div class="imgslide" :style="urlStyle(banner.image)"></div>
                                <!-- <img :src="urlImage(banner.image)" :alt="banner.title ? banner.title : 'ImageBanner'"/> -->
                            </li>
                        </ul>            
                        <!-- <div class="mask"></div> -->
                    </div>
                </section>
                <!--Fin Slider-->

                <section class="home_content">
                    <div class="wrapper_l" id="category">
                        <div v-if="show">  
                            <!-- Destacados siempre es la posición 0-->
                            <section class="row bg_destacados" v-if="isRoot">
                                <div class="small-12 medium-12 large-12 columns padding">                              
                                    <div class="title-short title-mobile">                    
                                        <h2>{{categories[0].name?categories[0].name:"Unname"}}</h2>
                                        <a v-if = "!(categories[0].subcategories.length < 5 && categories[0].products.length < 5)" @click="goToChildCategory(categories[0])" class="show-more-stores">Ver Categoria</a>
                                    </div>  

                                    <ul class="feature-product carrusel_feature owl-carousel owl-theme">
                                        <li class="item" v-for="subcategory in categories[0].subcategories">
                                            <a @click="goToChildCategory(subcategory)">
                                                <div class="item-feature-product">
                                                    <span class="bg-image">
                                                        <img :src="getUrl(subcategory, false)" alt="{{subcategory.name}}">
                                                    </span>
                                                    <span class="txt">
                                                        <h3 title="{{subcategory.name}}">{{subcategory.name}}</h3>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="item" v-for="product in categories[0].products">
                                            <div class="item-feature-product">
                                                <a @click="detail(categories[0].slug, product.slug, $event)">
                                                    <span class="bg-category">
                                                        <img :src="getUrl(product, false)" alt="{{product.name}}">
                                                    </span>
                                                </a>
                                                <span class="txt">
                                                    <h3>{{product.name}}</h3>
                                                    <p class="price">$ {{product.price}}</p>                                     
                                                    <p class="shopCartHidden" hidden>{{categories[0].slug + '-' + product.slug}}</p>
                                                    <span class="shopCart" @click="shop(categories[0].slug, product.slug, $event)"></span>
                                                </span>
                                            </div>      
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <!-- Destacados -->

                            <div class="padding">
                                <div class="title-short">
                                    <h2>Categorias</h2>
                                </div>
                            </div>
                            <ul class="list-categeory-icons">
                                <li :id="category.slug" v-for="category in categories">
                                    <a v-on:click="goToChildCategory(category)">
                                        <!-- <div v-if="category.image" class="panel-catg">
                                            <span class="imgBg">
                                                <img src="/generic/images/catg1.png" alt="{{category.name}}">
                                            </span>
                                            <h3>{{category.name}}</h3>
                                        </div> -->
                                        <div class="panel-catg">
                                            <span class="imgBg">
                                                <img :src="getUrlThumbnail(category, false)" alt="{{category.name}}">
                                            </span>
                                            <h3>{{category.name}}</h3>
                                        </div>
                                        <!-- <div class="panel-catg" style="background-image: url('/generic/images/no_found.png')" v-else>
                                            <h3>{{category.name}}</h3>
                                        </div> -->
                                    </a>
                                </li>
                            </ul>
                            <section class="row" v-if="isRoot">
                                <div class="small-12 medium-12 large-12 columns padding" v-for=" category in categories" v-if="(category.subcategories.length > 0 || category.products.length > 0) && category.name !== 'Destacados'">                              
                                    <div class="title-short title-mobile">                    
                                        <h2>{{category.name?category.name:"Unname"}}</h2>
                                        <a v-if = "!(category.subcategories.length < 5 && category.products.length < 5)" @click="goToChildCategory(category)" class="show-more-stores">Ver Categoria</a>
                                    </div> 

                                    <ul class="feature-product carrusel_feature_prod owl-carousel owl-theme">
                                        <li class="item" v-for="subcategory in category.subcategories">
                                            <a @click="goToChildCategory(subcategory)">
                                                <div class="item-feature-product">
                                                    <span class="bg-image">
                                                        <img :src="getUrl(subcategory, false)" alt="{{subcategory.name}}">
                                                    </span>
                                                    <span class="txt">
                                                        <h3 title="{{subcategory.name}}">{{subcategory.name}}</h3>
                                                    </span>
                                                </div>
                                            </a>
                                        </li>
                                        <li class="item" v-for="product in category.products">
                                            <div class="item-feature-product">
                                                <a @click="detail(category.slug, product.slug, $event)">
                                                    <span class="bg-image">
                                                        <img :src="getUrl(product, false)" alt="{{product.name}}">
                                                    </span>
                                                </a>
                                                <span class="txt">
                                                    <h3>{{product.name}}</h3>
                                                    <p class="price">$ {{product.price}}</p>        
                                                    <p class="shopCartHidden" hidden>{{category.slug + '-' + product.slug}}</p>
                                                    <span class="shopCart" @click="shop(category.slug, product.slug, $event)"></span>
                                                </span>
                                            </div>      
                                        </li>
                                    </ul>
                                </div>
                            </section>
                            <!--Fin Products Categories-->
                        </div>
                    </div>
                    <div class="prod_efect1 parallax"></div>
                    <div class="prod_efect2 parallax"></div>
                </section>


                <a href="#modalDetail" data-effect="mfp-zoom-in" class="modales modalDetail"></a>
                <div id="products">
                    <section id="modalDetail" class="modal_pop modal_large mfp-with-anim">
                        <div class="headModal">
                            <a title="Close (Esc)" class="mfp-close ti-close" v-on:click="clean()"></a>
                        </div>
                        <section class="cont_modal">
                            <section class="block">
                                <section class="bg_detalle" :class="{available: !detailProduct.isAvailable}">
                                    <section class="bg_panel portada sin_margin">
                                        <div class="imgbg">
                                            <div class="mask">
                                                <div class="relative">
                                                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
                                                    <h5>Producto no disponible</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tituloDest">
                                        </div>
                                    </section>
                                    <section class="bg_panelInt">
                                        <div class="large-6 medium-6 small-12 columns">
                                            <div class="bg_panel sin_margin">
                                                <div class="imgbg">
                                                    <img :src="getImage(detailProduct)" alt="Image product">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="large-6 medium-6 small-12 columns padding">
                                            <div class="row">
                                                <h1>{{detailProduct.name}}</h1>
                                                <h2 class="price">{{currencyFormat(detailProduct.price?detailProduct.price:detailProduct.priceDefault)}} <span class="text_bold">C/U</span></h2>
                                                <p v-html="detailProduct.description"></p>
                                            </div>
                                            <div class="row paddselectproduct" v-for="modifier in detailProduct.modifiers" :key="modifier['rid']"
                                                 v-if="detailProduct.modifiers.length > 0">
                                                <h3>{{modifier.name}}</h3>
                                                <span>{{modifier.selectUnique? 'Max 1 ': (modifier.maxSelect? 'Max '+modifier.maxSelect+' ':'')}}</span>
                                                <span>{{modifier.required? ' Requerido': ''}}</span>
                                                <div class="lineap"></div>
                                                <article class="small-12 medium-12 large-12 columns block"
                                                         v-for="item in modifier.items" :key="item['rid']"
                                                         v-if="item">
                                                    <label class="numberSmall" v-if="purchase['modifiers'][modifier['rid']]['conf']['selectUnique'] === true">                                                 
                                                        <div class="large-8 medium-8 small-8 columns">
                                                            <span>{{item.name}} {{currencyFormat(item.price?item.price:item.priceDefault)}}</span>
                                                        </div>
                                                        <div class="large-4 medium-4 small-4 columns checkMod">
                                                            <input class="checkbox"
                                                                   :checked="purchase['modifiers'][modifier['rid']][item['rid']]['checked']"
                                                                   :value="purchase['modifiers'][modifier['rid']][item['rid']]['checked']"
                                                                   :id="'modifiers.'+modifier['rid']+'.'+item['rid']"
                                                                   :name="'modifiers.'+modifier['rid']+'.'+item['rid']" type="radio"
                                                                   @click="selectModifier(modifier['rid'], item['rid'], $event)">
                                                            <label :for="'modifiers.'+modifier['rid']+'.'+item['rid']">
                                                            </label>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </label>
                                                    <label class="numberSmall" v-else>                                                 
                                                        <div class="large-8 medium-8 small-8 columns">
                                                            <span>{{item.name}} {{currencyFormat(item.price?item.price:item.priceDefault)}}</span>
                                                        </div>
                                                        <div class="large-4 medium-4 small-4 columns checkMod">
                                                            <input class="checkbox"
                                                                   :checked="purchase['modifiers'][modifier['rid']][item['rid']]['checked']"
                                                                   :value="purchase['modifiers'][modifier['rid']][item['rid']]['checked']"
                                                                   :id="'modifiers.'+modifier['rid']+'.'+item['rid']"
                                                                   :data-price="item['price']"
                                                                   :name="'modifiers.'+modifier['rid']+'.'+item['rid']" type="checkbox"
                                                                   @click="selectModifier(modifier['rid'], item['rid'], $event)">
                                                            <label :for="'modifiers.'+modifier['rid']+'.'+item['rid']">
                                                            </label>
                                                        </div>
                                                        <div class="clear"></div>
                                                    </label>
                                                </article>
                                            </div>

                                            <h2 class="price">
                                                <span class="text_bold">Total:</span>
                                                <span id="total_price" :data-price="detailProduct.price" :data-base="detailProduct.price">
                                                    {{currencyFormat(detailProduct.price?detailProduct.price:detailProduct.priceDefault)}}
                                                </span>
                                            </h2>

                                            <section class="row actions_detail">
                                                <div class="large-3 medium-4 small-4 columns">
                                                    <div class="catidad_real">
                                                        <a class="restar" @click="decrement()">
                                                            <i class="fa fa-minus" aria-hidden="true"></i>
                                                        </a>
                                                        <input type="text" name="cant" :value="purchase.amount" size="3"
                                                               class="cantidad" disabled>
                                                        <a class="mas" @click="increment()">
                                                            <i class="fa fa-plus" aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="large-9 medium-8 small-8 columns">
                                                    <a href="javascript:void(0)" class="btnA block" @click="addtocart($event, detailProduct.idCategory, detailProduct.idProduct)"
                                                       :class="{available: !detailProduct.isAvailable}">Agregar al Carrito
                                                    </a>
                                                </div>
                                            </section>
                                        </div>

                                        <div class="clear"></div>
                                    </section>
                                </section>

                                <div class="clear"></div>
                            </section>
                        </section>
                    </section>
                </div>

            </section>

            <script>
                var is_home_section = true;
                $(function () {
                    $('.carrusel_feature').owlCarousel({
                        loop: false,
                        dots: false,
                        margin: 13,
                        nav: true,
                        smartSpeed: 450,
                        navText: [
                            "<i class='fa fa-angle-left' aria-hidden='true'></i>",
                            "<i class='fa fa-angle-right' aria-hidden='true'></i>"
                        ],
                        responsive: {
                            0: {
                                items: 1,
                                nav: false
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 4
                            }
                        }
                    });
                    $('.carrusel_feature_prod').owlCarousel({
                        loop: false,
                        dots: false,
                        margin: 13,
                        nav: true,
                        smartSpeed: 450,
                        navText: [
                            "<i class='fa fa-angle-left' aria-hidden='true'></i>",
                            "<i class='fa fa-angle-right' aria-hidden='true'></i>"
                        ],
                        responsive: {
                            0: {
                                items: 2,
                                nav: false
                            },
                            600: {
                                items: 2
                            },
                            1000: {
                                items: 5
                            }
                        }
                    });
                });
            </script>

            @{component('footer_qbano')}
            @{import('products.js')}
            @{version('category.js')}
            @{version('home.js')}