<!DOCTYPE html>
<html>
    <head>
        @{repository.title = model.title ? model.title : 'Tienda online'}
        <title>@{repository.title}</title>
        <meta charset="UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,  user-scalable=no"/>
        <meta name="google-site-verification" content=""/>
        <meta name="copyright" content=""/>
        <meta name="date" content="2017"/>
        <meta name="author" content=""/>
        <meta name="robots" content="All"/>
        <meta name="fragment" content=""/>
        <meta name="theme-color" content="#e14339"/>
        <title>Qbano - Colombia</title>
        <link rel="shortcut icon" type="image/x-icon" href="/generic/images/favicon.ico"/>
        <link rel="author" type="text/plain" href="humans.txt"/>
        <link rel="manifest" href="/generic/manifest.json">
        <!--Style's-->
        @{version('app.css')}
        @{section('meta')}
        <!-- Apple Touch Icons -->
        <link rel="apple-touch-icon" href="generic/images/icons/apple-touch-icon.png"/>
        <link rel="apple-touch-icon" sizes="72x72" href="generic/images/icons/apple-touch-icon-72x72.png"/>
        <link rel="apple-touch-icon" sizes="114x114" href="generic/images/icons/apple-touch-icon-114x114.png"/>
        <link rel="apple-touch-icon" sizes="144x144" href="generic/images/icons/apple-touch-icon-144x144.png"/>
        <script src="/generic/js/others/jquery.min.js"></script>
        <script src="/generic/js/others/vue.min.js"></script>
        <script defer src="/generic/js/others/raven.min.js" crossorigin="anonymous"></script>
        <script defer src="/generic/js/others/lodash.min.js"></script>

        <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
        <script>
            var OneSignal = window.OneSignal || [];
            OneSignal.push(function () {
                OneSignal.init({
                    appId: "6a08136b-2b53-416c-a067-60cae04b3ee4",
                    autoRegister: true,
                    httpPermissionRequest: {
                        enable: true
                    },
                    notifyButton: {
                        enable: true,
                    },
                });

                OneSignal.getUserId(function (userId) {
                    console.log("OneSignal User ID:", userId);
                    if (userId) {
                        // TODO: Make request to save OneSignal userId in Data Base
                    }
                });

            });
        </script>

    </head>
    <body>
        @{body}
    </body>
</html>
