@{json(model.configuration, 'configuration')}
<section class="content_all intern">
    @{component('header_qbano')}
    <section class="wrapper_m txt_center terminosBg">
        <div class="titulo">
            <h1>Condiciones y Restricciones</h1>
        </div>
        <div id="termsconditions">
        </div>
        <section class="formBB form_register">
            <a style="color: #ff7900" href="javascript:void(0)" class="link link_new_acount"></a>
        </section>

        <div class="clear"></div>
    </section>
</section>
@{component('footer_qbano')}
@{version('terms.js')}