//Colors
primaryColor = #ea7521
secudaryColor = #171717
primaryColorText = #595959
primaryColorTitle = rgb(66, 63, 64)
colorTextButtonPrimary = #FFFFFF
colorTextButtonSecundary = #FFFFFF
colorTextFooter = #5b5b5f
backgroundHeader = #FFFFFF
backgroundColorGray = #ecedef
backgroundColorBlack = #1f1f1f

//Others
white = #fff
black = rgb(66, 63, 64)
gray = #959397
grayOne = #ecedef
grayBorder = #98989c
grisbg = #e8e8e8
grisbtn = #656565
bgcart = #251f1a
redColor = #e93f33

//Alerts
successColor = #11AB32
errorColor = #F51717
warningColor = #F77B06
noticeColor = #106FE7