/*----------------------------------*\
    $FONTS
\*----------------------------------*/
/*=========================== IMPORTS ==================================*/
@font-face {
    font-family: 'GothamRoundedLight';
    src: url('../fonts/GothamRoundedLight.woff2') format('woff2'),
         url('../fonts/GothamRoundedLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GothamRoundedBook';
    src: url('../fonts/GothamRoundedBook.eot');
    src: url('../fonts/GothamRoundedBook.woff2') format('woff2'),
         url('../fonts/GothamRoundedBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GothamRndBold';
    src: url('../fonts/GothamRnd-Bold.woff2') format('woff2'),
         url('../fonts/GothamRnd-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plutobold';
    src: url('../fonts/pluto_bold.woff2') format('woff2'),
         url('../fonts/pluto_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




/*=========================== VARIABLES ==================================*/
fontl()
  font-family 'GothamRoundedLight'
  
fontr()
  font-family 'GothamRoundedBook'

fontb()
  font-family 'GothamRndBold'
  letter-spacing -.4px

fontbs()
  font-family 'plutobold'