/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
trans(segun)
  transition segun

cursiva()
  font-style italic

clear()
  content ''
  clear both
  block()

mayus()
  text-transform uppercase

sub()
  text-decoration underline

bold()
  font-weight bold

relative()
  position relative

absolute()
  position absolute

fixed()
  position fixed

block()
  display block

inline()
  display inline-block
  vertical-align middle
  
flex()
  display box
  display flex
  align-items center 
  justify-content center

none()
  display none

centrar()
  margin 0 auto
  block()

alinear()
   display inline-block
   vertical-align top
   zoom 1

font(valor)
  font-size valor

txtalign(txtvalor)
  text-align txtvalor

box()
  box-sizing border-box

left2()
  float left

right2()
  float right

over()
  overflow hidden