/*------------------------------------*\
    $PAGES ERROR
\*------------------------------------*/
.bgPageError
	block()	
	width 100%
	height 100vh
	relative()
	box()
	padding 80px 0
	flex()
	.titulo
		h1
			color white
			span
				block()
				font(100px)
				line-height 95px
				+below(642px)
					font(75px)
					line-height 78px
	.alertPage
		max-width 580px
		margin 0 auto 30px
		padding 20px 20px 35px
		h2
			font(16px)