/*------------------------------------*\
    $CONFIRMAR PEDIDO
\*------------------------------------*/
.txt_pedido
  p
    font(18px)
    margin 0 0 40px 0
  .index_social
    margin 0 0 90px 0
    +below(642px)
      margin 0 0 45px 0

.tipo_pago
  text-align center
  .forma
    font(12px)
    block()

.order-item
  float left
  &:hover
    background-color primaryColor
  p
   color white
   float left
   strong
    font-weight bold
