/*------------------------------------*\
    $PAGES
\*------------------------------------*/
body 
	.intern_page
		padding 72px 0 60px
		+below(800px)
			padding 65px 0 25px
		&:after
			clear()		
		h1
		h2
		h3
		h4
		h5
		h6
			fontb()			
			block()
			margin 20px 0 6px			
			block()
		h1
			font(35px)
		h2
			font(30px)
		h3
			font(27px)
		h4
			font(23px)
		h5
			font(20px)
		h6
			font(16px)
		.wrapper_m
			padding 14px 0
			box()
			img
				max-width 100%
				// block()
				+below(642px)
					min-height auto
					height auto
			a
				color primaryColor 
				sub()		
			p
				strong
					font-weight bold
			strong
					font-weight bold
					fontb()
			ul
			ol
				margin 0 20px 0
				list-style unset
			li
				list-style-type unset
				font(14px)
				font(14px)
				fontr()
				color primaryColorText
						  		

#content_dynamic_page 
	.wrapper_m.detailBlog
		min-height 60vh
		


/*---------------Terminos------------------*/
body
	.terminosBg
		.content-block
			text-align justify
			strong
				fontb()
				block()
				margin 20px 0 0
			a
				color primaryColor 
				sub()