/*------------------------------------*\
    $NOSOTROS
\*------------------------------------*/
.imgbg_nosotros
  width 100%
  border-bottom 2px solid primaryColor
  &:after
    clear()
  img
    width 100%